// explore button //

.btn-explore{
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(170deg, $color-secondary, $color-primary);
    color: #f0f0f0;
    font-family: $font-txt;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}


// Like button // 
.btn-like-icone{
    fill:white;
    stroke: black;
    stroke-width: 30px;
    width: 20px;
}
input[type="checkbox"] {
    display: none;

    &:checked + .btn-like{
        .btn-like-icone{
            fill: url(#btn-like-linearGradient);
            stroke-width: 0px;
            stroke: rgba(0,0,0,0);
            width: 20px;
            transition: 400ms ease-out;
            animation: like 400ms ;
        }    
    }
}
@keyframes like{
    from{
        width: 25px;
        opacity: 0;
    }
    to{
        width: 20px;
        opacity: 1;
    }
}
