// explore button //

.btn-explore{
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(170deg, $color-secondary, $color-primary);
    color: #f0f0f0;
    font-family: $font-txt;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}