.restaurant-card-like{
    width: 15%;
    @include flexcenter;
}
.btn-like-icone{
    fill:white;
    stroke: black;
    stroke-width: 20px;
    width: 25px;
}
input[type="checkbox"] {
    display: none;

    &:checked + .btn-like{
        .btn-like-icone{
            fill: url(#btn-like-linearGradient);
            stroke-width: 0px;
            stroke: rgba(0,0,0,0);
            width: 25px;
            transition: 400ms ease-out;
            animation: like 400ms ;
        }    
    }
}
@keyframes like{
    from{
        width: 30px;
        opacity: 0;
    }
    to{
        width: 25px;
        opacity: 1;
    }
}
