@font-face{
    font-family: 'Roboto';
    src: url(../Polices/Roboto/Roboto-Black.ttf) format("truetype"), url(../Polices/Roboto/Roboto-BlackItalic.ttf) format("truetype"), url(../Polices/Roboto/Roboto-Bold.ttf) format("truetype"), url("../Polices/Roboto/Roboto-Light.ttf") format("truetype"), url(../Polices/Roboto/Roboto-Medium.ttf) format("truetype"), url(../Polices/Roboto/Roboto-Thin.ttf) format("truetype"), url(../Polices/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face{
    font-family: 'Shrikhand';
    src: url(../Polices/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
}


