.location-container{
    width: 100%;
    height: auto;
    @include flexcenter;
    padding: 10px 0px;
    background-color: #ebebeb;
    border-top: 1px solid #c0c0c0;
    box-shadow: inset 0px 1px 5px #c0c0c0;
    .fa-location-dot{
        color: #333;
        margin-right: 10px;
    }
    input{
        width: 100%;
        border: none;
        background-color: #ebebeb;
        font-size: 16px;
        font-style: $font-txt;
        padding: 5px 10px;
    }
    input[value="Paris, Belleville"]{
        font-size: 16px;
    }
    input[type="text"]:focus{
        border: 1px solid red;
    }
}

.presentation-container{
    width: 100%;
    height: auto;
    padding: 40px 20px 60px 20px;
    text-align: center;
    background-color: #f0f0f0;
    h1{
        font-family: $font-txt;
        font-size: 24px;
        padding: 0px 30px;
    }
    p{
        font-family: $font-txt;
        font-size: 18px;
        font-weight: 300;
        color: #333;
        padding: 20px 0px;
    }
}

.functionning-container{
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
    h2{
        margin: 20px 0px;
        font-family: $font-txt; 
    }
    .functionning-steps{
        display: flex;
        flex-direction: column;
        align-items: center;
        .steps{
            display: flex;
            align-items: center;
            width: 95%;
            height: 50px;
            box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
            border-radius: 15px;
            background-color: #f0f0f0;
            margin: 10px 0px;
            padding: 35px 0px;
            &-number{
                position: relative;
                left: -12px;
                font-size: 12px;
                font-family: $font-txt;
                background-color: $color-primary;
                color: white;
                border-radius: 50%;
                padding: 5px 9px;
            }
            .fa-solid{
                color: #828282;
                margin-right: 20px;
                margin-left: 12px;
                font-size: 20px
            }
            p{
                font-family: $font-txt;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}

.restaurant-container{
    width: 100%;
    padding: 20px;
    background-color: #f0f0f0;
    h2{
        margin: 20px 0px;
        font-family: $font-txt;
    }
}