@media screen and (min-width: 768px) {
    header{
        z-index: 2;
        background-color: white;
        a{
            .fa-arrow-left{
                font-size: 32px;
            }
        }
        img{
            width: 300px;
            margin: 30px 0px;
        }
    }
    .location-container{
        .fa-location-dot{
            font-size: 20px;
        }
        input{
            font-size: 20px;
        }
        input[value="Paris, Belleville"]{
            font-size: 20px;
        }
    }
    .presentation-container{
        h1{
            font-size: 34px;
        }
        p{
            font-size: 20px;
        }
    }
    .btn-explore{
        @include btn-gradient(20px, 20px, 40px);
        margin-top: 20px;
    }
    .functionning-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: 30px;
            margin: 30px 0px;
        }
        .functionning-steps{
            flex-direction: row;
            width: 95%;
            .steps{
                width: 33%;
                &:nth-child(2){
                    margin: 0px 20px;
                }
            }
        }
    }
    .restaurant-container{
        h2{
            text-align: center;
            font-size: 30px;
            margin: 30px 0px;
        }
        .restaurant-cards{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .restaurant-card{
                width: 45%;
            }
        }
    }
    footer{
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 20px 30px;
        .footer-img{
            img{
                width: 250px;
            }
        }
    }
    .restaurant-image{
        img{
            display: relative;
            transform: translateY(-150px);
        }
    }
}

@media screen and (min-width: 992px) {
    .restaurant-image{
        img{
            transform: translateY(-400px);
        }
    }
    .menu__title{
        justify-content: center;
        margin-bottom: 40px;
        h1{
            font-size: 35px;
        }
    }
    .menu__card__enter, .menu__card__dish, .menu__card__dessert{
        h2{
            font-size: 24px;
        }
        h2::after{
            width: 4%;
        }
    }
    .menu__card{
        display: flex;
        justify-content: space-evenly;
        .menu__card__dish{
            margin: 0px 20px;
        }
        .menu__cards__container{
            align-items: center;
            width: 300px;
        }
    }
    
    
    footer{
        flex-direction: column;
        align-items: center;
        height: 200px;
        .footer-txt{
            display: flex;
            p{
                margin: 0px 20px;
            }
        }
    }

}