%background-img{
    height: 170px;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
}

.enter__card{
    width: 100%;
    height: 70px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.2);
    overflow: hidden;
    &__name{
        display: flex;
        flex-direction: column;
        padding: 12px 0px 12px 15px;
        text-overflow: clip;
        h3{
            font-size: 18px;
            font-family: $font-txt;
            font-weight: 500;
            margin-bottom: 5px;
        }
        p{
            font-family: $font-txt;
            font-size: 16px;
            font-weight: 300;
        }
    }
    &__price{
        font-family: $font-txt;
        font-weight: 500;
        margin: 12px 15px 12px 0px;
    }
    &__validation{
        width: 60px;
        transform: translateX(60px);
        height: 100%;
        background-color: green;
        border-radius: 0px 15px 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 500ms ease;
        .fa-circle-check{
            font-size: 20px;
            color: white;
            // animation: rotate 800ms ease-out;
        }
    }
    &:hover{

    }
    &:hover .enter__card__validation{
        transform: translateX(0px);
        transition: 500ms ease;
        .fa-circle-check{
            animation: rotate 500ms ease-out;
        }
    }
    
}

@keyframes rotate{
    0%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}