//COULEURS//
$color-primary: #9356DC; 
$color-secondary: #FF79DA;
$color-tertiary: #99E2d0;

$font-title: 'Shrikhand';
$font-txt: 'Roboto';

$gradient: linear-gradient(to bottom, $color-primary, $color-secondary);